
:root,
:host,
.sl-theme-light {
  font-family: 'Source Code Pro', monospace;
  --color-0: #363636;
  --color-1: #ececec;
  --color-2: #b5b7b9; 
 
--sl-color-primary-50: var(--color-1);
--sl-color-primary-100: var(--color-1);
--sl-color-primary-200: var(--color-1);
--sl-color-primary-300: var(--color-0);
--sl-color-primary-400: var(--color-0);
--sl-color-primary-500: var(--color-0);
--sl-color-primary-600: var(--color-0);
--sl-color-primary-700: var(--color-0);
--sl-color-primary-800: var(--color-0);
--sl-color-primary-900: var(--color-0);
--sl-color-primary-950: var(--color-0);

/* Neutral palette (used for text, borders, backgrounds) */
--sl-color-neutral-0: var(--color-1);
--sl-color-neutral-50: var(--color-1);
--sl-color-neutral-100: var(--color-2);
--sl-color-neutral-200: var(--color-2);
--sl-color-neutral-300: var(--color-2);
--sl-color-neutral-400: var(--color-2);
--sl-color-neutral-500: var(--color-0);
--sl-color-neutral-600: var(--color-0);
--sl-color-neutral-700: var(--color-0);
--sl-color-neutral-800: var(--color-0);
--sl-color-neutral-900: var(--color-0);
--sl-color-neutral-950: var(--color-0);
--sl-color-neutral-1000: var(--color-0);

--sl-color-danger-0: var(--sl-color-rose-0);
--sl-color-danger-50: var(--sl-color-rose-50);
--sl-color-danger-100: var(--sl-color-rose-100);
--sl-color-danger-200: var(--sl-color-rose-200);
--sl-color-danger-300: var(--sl-color-rose-300);
--sl-color-danger-400: var(--sl-color-rose-400);
--sl-color-danger-500: var(--sl-color-rose-500);
--sl-color-danger-600: var(--sl-color-rose-600);
--sl-color-danger-700: var(--sl-color-rose-700);
--sl-color-danger-800: var(--sl-color-rose-800);
--sl-color-danger-900: var(--sl-color-rose-900);
--sl-color-danger-1000: var(--sl-color-rose-1000);


 --sl-font-mono: 'Source Code Pro', monospace;
  --sl-font-sans: 'Source Code Pro', monospace;
  --sl-font-serif: 'Source Code Pro', monospace;

  /* Remove border radius for square style */

  --sl-border-radius-small: 0; 
  --sl-border-radius-medium: 0;
  --sl-border-radius-large: 0;
  --sl-border-radius-x-large: 0; 


  --sl-panel-background-color: var(--color-1);
  --sl-panel-border-color: var(--color-2);
  --sl-panel-border-width: 1px;
  

  /* Focus rings */
  --sl-focus-ring-color: var(--color-0);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 2px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-input-focus-ring-color:var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 1px;

    --sl-input-color: var(--sl-color-neutral-700);
  --sl-input-color-hover: var(--sl-color-neutral-700);
  --sl-input-color-focus: var(--sl-color-neutral-700);
  --sl-input-color-disabled: var(--sl-color-neutral-900);
  --sl-input-icon-color: var(--sl-color-neutral-500);
  --sl-input-icon-color-hover: var(--sl-color-neutral-600);
  --sl-input-icon-color-focus: var(--sl-color-neutral-600);
  --sl-input-placeholder-color: var(--color-2);
  --sl-input-placeholder-color-disabled: var(--color-2);

  --sl-input-border-color: var(--color-2);

}

:host,
.sl-theme-dark {

  --color-0: #ececec;
  --color-1: #363636;
  --color-2: #1a1a1a; 
  --color-3: #afafaf; 

--sl-color-primary-50: var(--color-1);
--sl-color-primary-100: var(--color-1);
--sl-color-primary-200: var(--color-1);
--sl-color-primary-300: var(--color-0);
--sl-color-primary-400: var(--color-0);
--sl-color-primary-500: var(--color-0);
--sl-color-primary-600: var(--color-0);
--sl-color-primary-700: var(--color-0);
--sl-color-primary-800: var(--color-0);
--sl-color-primary-900: var(--color-0);
--sl-color-primary-950: var(--color-0);

/* Neutral palette (used for text, borders, backgrounds) */
--sl-color-neutral-0: var(--color-1);
--sl-color-neutral-50: var(--color-1);
--sl-color-neutral-100: var(--color-2);
--sl-color-neutral-200: var(--color-2);
--sl-color-neutral-300: var(--color-2);
--sl-color-neutral-400: var(--color-2);
--sl-color-neutral-500: var(--color-0);
--sl-color-neutral-600: var(--color-0);
--sl-color-neutral-700: var(--color-0);
--sl-color-neutral-800: var(--color-0);
--sl-color-neutral-900: var(--color-0);
--sl-color-neutral-950: var(--color-0);
--sl-color-neutral-1000: var(--color-0);

--sl-color-danger-0: var(--sl-color-rose-0);
--sl-color-danger-50: var(--sl-color-rose-50);
--sl-color-danger-100: var(--sl-color-rose-100);
--sl-color-danger-200: var(--sl-color-rose-200);
--sl-color-danger-300: var(--sl-color-rose-300);
--sl-color-danger-400: var(--sl-color-rose-400);
--sl-color-danger-500: var(--sl-color-rose-500);
--sl-color-danger-600: var(--sl-color-rose-600);
--sl-color-danger-700: var(--sl-color-rose-700);
--sl-color-danger-800: var(--sl-color-rose-800);
--sl-color-danger-900: var(--sl-color-rose-900);
--sl-color-danger-1000: var(--sl-color-rose-1000);


 --sl-font-mono: 'Source Code Pro', monospace;
--sl-font-sans: 'Source Code Pro', monospace;
--sl-font-serif: 'Source Code Pro', monospace;

  /* Remove border radius for square style */

  --sl-border-radius-small: 0; 
  --sl-border-radius-medium: 0;
  --sl-border-radius-large: 0;
  --sl-border-radius-x-large: 0; 


  --sl-panel-background-color: var(--color-1);
  --sl-panel-border-color: var(--color-2);
  --sl-panel-border-width: 1px;
  

  /* Focus rings */
  --sl-focus-ring-color: var(--color-0);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 2px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-input-focus-ring-color:var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 1px;

 --sl-input-color: var(--sl-color-neutral-700);
  --sl-input-color-hover: var(--sl-color-neutral-700);
  --sl-input-color-focus: var(--sl-color-neutral-700);
  --sl-input-color-disabled: var(--sl-color-neutral-900);
  --sl-input-icon-color: var(--sl-color-neutral-500);
  --sl-input-icon-color-hover: var(--sl-color-neutral-600);
  --sl-input-icon-color-focus: var(--sl-color-neutral-600);
  --sl-input-placeholder-color: var(--color-3);
  --sl-input-placeholder-color-disabled: var(--color-3);
 --sl-input-label-color: var(var(--color-0));
  --sl-input-border-color: var(--color-2);

  
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-0);

  background-color: var(--color-1);
}

p {
    text-align: left;
}

li {
    list-style-type: none;
}

a {
    color: var(--color-0)
}

:not(:defined) {
    visibility: hidden !important;
}

.hidden{
    visibility: hidden !important;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color-result {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--color-2);
}

.color-inputs {
    display: flex;
    gap: 1.6rem;
    justify-content: stretch;
    flex-direction: column;
    width: 100%;
}

.btn-color {
    display: none;
}

.dialog-color::part(body) {
    display: flex;
    align-items: center;
    flex-direction: column;
}

sl-range {
    --track-height: 1rem;
    --thumb-size: 1.2rem; 
}

.range-h {
     --track-color-active: transparent;
    --track-color-inactive: transparent;
   
}

.range-h::part(input) {

    background-image: linear-gradient(90deg in hsl longer hue, hsl(0 100% 50%), hsl(360 100% 50%)); 
    border-radius: 0;
    border: 2px solid var(--color-2);
}

.range-s, .range-v{
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}

h1 {
    font-family: "silkscreen", system-ui;
    font-weight: normal;
       font-size: 1.2rem;
}

#section-site-settings {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    gap: 2rem;
    padding: 1rem;
}

canvas {
    width: 100%;
    aspect-ratio: 16/9;
    image-rendering: pixelated;
}


#section-color {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-self: stretch;
    width: 100%;
    gap: 2rem;
}

sl-button {
    height: fit-content;
    width: fit-content;
}

.div-v, .div-s {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
}




#dialog-tag #info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#dialog-tag #footer {
    display: flex;
    justify-content: space-between;
}

#dialog-tag ul {
    display: flex;
    gap: 1rem;

}

#section-palette {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-self: stretch;
}

#section-lospec-search {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

#lospec-search-box {
    display: flex;
    gap: 0.5rem;
}

#lospec-search-result {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#lospec-palette-info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

#lospec-search-error {
    --sl-spacing-large: 0.5rem;
}

#lospec-palette {
    height: 2.4rem;
    width: calc(2.4rem * 4);
}

@media screen and (max-width: 767px) {
    .btn-color {
        display: flex;
    }

    .color-wrapper {
        display: none;
    }
       #section-palette {
        flex-direction: column;
    }
 #download {
        align-self: flex-end;
    }

    #section-color {
        display: flex;
    }
    sl-range {
    --track-height: 1.75rem;
    --thumb-size: 2rem; 
}
}


@media screen and (max-width: 2000px) {
    canvas {
        max-width: 800px;
    }
}

@media screen and (max-width: 1500px) {
    canvas {
        max-width: 600px;
    }
}
